<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdminUserId</key>
	<string>admin@{tenantid}.tresorit.io</string>
	<key>AdminKey</key>
	<string>{adminkey}</string>
	<key>ApiRoot</key>
	<string>https://host-{hostid}.api.tresorit.io/tenant-{tenantid}</string>
</dict>
</plist>
