<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZeroKitServiceURL</key>
	<string>{ServiceUrl}</string>
	<key>ZeroKitClientId</key>
	<string>{ClientId}</string>
	<key>ZeroKitAppBackend</key>
	<string>{AppBackendUrl}</string>
</dict>
</plist>
